<!doctype html>
<html ng-app="narrowDownMenuApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
  </head>
<body>
   <div ng-controller='narrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div>
      <input type="text" placeholder="search term" ng-model="menu.input">
    </div>
    <div>
      <button ng-click="menu.searchX()">Narrow It Down For Me!</button>
    </div>

    <search-result
      items="menu.displayResult"></search-result>
  </div>

</body>
</html>
