<!doctype html>
<html ng-app="shoppingListCheckOffApp">
  <head>
    <title>Shopping List Check Off</title>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div>
  <h1>Shopping List Check Off</h1>

  <div>

    <!-- To Buy List -->
    <div ng-controller="toBuyListController as buy">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in buy.shoppingList">Buy {{item.name}} {{item.quantity}}(s)<button ng-click="buy.shoppingListBought($index);" ng-click="myVar = true"><span></span> Bought</button></li>
     </ul>
     <div  ng-if ="buy.shoppingList === []">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="boughtListController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.data">Bought {{item.name}} {{item.quantity}}(s)</li>
     </ul>
     <div ng-if="bought.data === []">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
